fastapi[standard]
uvicorn[standard]


pydantic
pydantic-settings

sqlalchemy
psycopg[binary]
psycopg2-binary
greenlet
geoalchemy2

alembic
Mako
google-auth

python-dotenv
fastapi-mail
requests
resend

gunicorn